body {
    background: white;
    font-family: "Abel";
}

h1 {
    color: white;
    background: blue;
    border-color: purple;
    border-width: 6px;
    border-style: solid;
    margin-bottom: 200px;
}

h2 {
    color: green;
    font-family: sans-serif;
}

h6 {
    color: red;
    background: yellow;
    border-color: #FF1493;
    border-width: 4px;
    border-style: dashed;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-right: 100px;
}

b {
    color: blue;
}

i {
    color: darkmagenta;
}

.tacolover {
    color: green;
    font-family: sans-serif;
    font-style: oblique;
    font-size: 30px;
}

#tacohater {
    color: deeppink;
    font-family: sans-serif;
    font-style: italic;
    font-size: 30px;
}